<a href="https://colab.research.google.com/github/hemanthpranav/Python-SQLite-Example/blob/main/Assignmnet_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
#Create a Database
connection = sqlite3.connect('StudentsDATA.db')

In [3]:
#creating a cursor Object to interact with the database
cursor = connection.cursor()

In [4]:
#Creating a Table

cursor.execute("CREATE TABLE students(ID INTEGER PRIMARY KEY,NAME TEXT,COURSE VARCHAR,COURSE_INTAKE TEXT)")

In [5]:
#Inserting Data

cursor.execute("""INSERT INTO students(ID,NAME,COURSE,COURSE_INTAKE)
 VALUES(369,"TOM SAWYER","Computer Science","Fall"),
  (999,"CHARLES DICKENS","DATA SCIENCE","SPRING"),
  (693,"ZACK SNYDER","FILMMAKING","SUMMER")""")

In [6]:
#Retrieving Data by fetching using fetchall()

cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()
for row in rows:
  print(row)

(369, 'TOM SAWYER', 'Computer Science', 'Fall')
(693, 'ZACK SNYDER', 'FILMMAKING', 'SUMMER')
(999, 'CHARLES DICKENS', 'DATA SCIENCE', 'SPRING')

In [7]:
#Committing Changes using connection.commit()

connection.commit()

In [8]:
#Raising Execptions if there is a issue with SQL command
# using try and except block commands
# an non existant table like """"laptop_database"""
try:
  cursor.execute("SELECT * FROM laptop_database")
except sqlite3.OperationalError as e:
  print(f"An error occured: {e}")

An error occured: no such table: laptop_database

In [9]:
#Preventing SQL injection attacks by using Parameterized queries

cursor.execute("INSERT INTO students (ID,NAME,COURSE,COURSE_INTAKE) VALUES (?,?,?,?)",(963,"HANS ZIMMER","MUSIC & ARTS","ONLINE"))

In [10]:
#Retrieving Data by fetching using fetchall()

cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()
for row in rows:
  print(row)

(369, 'TOM SAWYER', 'Computer Science', 'Fall')
(693, 'ZACK SNYDER', 'FILMMAKING', 'SUMMER')
(963, 'HANS ZIMMER', 'MUSIC & ARTS', 'ONLINE')
(999, 'CHARLES DICKENS', 'DATA SCIENCE', 'SPRING')

In [11]:
#transcations

In [25]:
con = sqlite3.connect("StudentsDATA.db")
with con:
    connection.row_factory = sqlite3.Row
    cur1 = connection.cursor()
    stu = cur1.execute("SELECT * from students").fetchall()
    print(stu)

[<sqlite3.Row object at 0x7f22b4915e40>, <sqlite3.Row object at 0x7f22b49172e0>, <sqlite3.Row object at 0x7f22b4916290>, <sqlite3.Row object at 0x7f22b4916680>]

In [28]:
connection.close()